/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2020 By: Dewa Programming

Project		:	Blog
Dibuat	    :	05/05/2020
Instagram   :   @dewaprogramming -- @741_dewa -- @dewasmkn1jakarta
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Biasa
1. Navigasi
2. Landing Page
3. Konten
4. Sidebar 
5. Footer
6. Penutup
7. Hamburger Navigasi
8. Hamburger Navigasi -Animasinya-
9. Waktu
10. Pagination 
11. Keyframes
12. Breadcrumb
13. Sebelum Footer
14. Komentar 
15. Tombol Scroll Atas
16. Searching
17. Header 
18. Mode Malam
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
[NOTE]
COPY PASTE PUNYA ORANG LAIN TANPA IZIN ITU DOSA
IZIN TERLEBIH DAHULU. TERIMAKASIH :)
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
[0. Biasa]
*------------------------------------------------------------------*/
@font-face {
    font-family: 'Quicksand'; 
    src: url('../../Fonts/Quicksand.woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fonts/Poppins.woff2');
}

@font-face {
    font-family: 'Lato'; 
    src: url('../../Fonts/Lato.woff2');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../Fonts/Ubuntu.woff2');
}

@font-face {
    font-family: 'Avenir'; 
    src: url('../../Fonts/Avenir.woff2');
}

body {
    background: #222627;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgb(74, 70, 151);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 124, 255);
}
::-webkit-scrollbar-track {
    background: #455a64;
}

div img[alt="www.000webhost.com"], div img[alt='www.000webhost.com']
{ 
    display:none;visibility:hidden;
}

.container {
    padding: 0px 140px 70px 140px;
    padding-left: 11%;
    padding-right: 11%;
    width: 100%;
    display: flex;
    background: #222627;
}

.Akhir {
    border-top: 5px solid rgb(74, 70, 151);
    background-color: #191c1d;
}



/*-------------------------------------------------------------------
[1. Navigasi]
*------------------------------------------------------------------*/
.Navigasi {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(128, 74, 216) 0%, #8c00ff 77%);
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 11%;
    padding-right: 11%;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 17px;
}   

nav ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    justify-content: space-between; 
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #bbbbbb;
}

nav ul li span {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

nav #ulnav li a:hover {
    text-decoration: none;
    color: #111111;
    transition: 0.2s ease-in-out;
}

.logonav {
    
}

.logonav #LogoNavigasi {
    width: 180px;
}

nav button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    outline: none;
    font-weight: bold;
}

/*DropDown*/
nav ul li ul {
    position: absolute;
    width: 200px;
    background: #FFFFFF;
    display: block;
    visibility: hidden;
    opacity: 0;
    margin-top: 27px;
    height: auto;
    padding: 10px;
}

.Dropdown ul li {
    margin-left: 0px !important;
}

nav ul li ul li {
    width: 100%;
    padding: 10px;
}

nav ul li ul li:last-child {
    border-bottom: none;
}

nav ul li ul li a {
    color: #111111; 
    font-size: 14px;
    font-weight: bold;
}

nav ul li ul.Klik {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: 0.3s ease;
    transition-duration: 300ms;
}

nav .navsearch {
    display: none;
    padding: 10px;
}

nav #ulnav li:nth-child() {
    border-bottom: 2px solid white;
}



/*-------------------------------------------------------------------
[2. Landing Page]
*------------------------------------------------------------------*/




/*-------------------------------------------------------------------
[3. Konten]
*------------------------------------------------------------------*/
.Konten {
    background: #222627;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.Konten hr {
    background-color: #4e5152;
    height: 1px;
    border: 0px;
    width: 10%;
    margin: auto;
}

.KontenUtama {
    width: 100%;
    height: 65vh;
    background-color: #222627;
    display: flex;
    margin-bottom: 50px;
}

.KontenUtama a, .KontenMenengah a, .KontenTerakhirCard a {
    text-decoration: none;
}

.KontenTerakhirCard a {
    width: 100%;
}

.KontenIsiKiri {
    width: 100%;
}

.Kiri {
    position: relative;
    width: 60%;
    background-color: #222627;
}

.Kiri::before {
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 0.788) 10%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
}

.Kiri a {
    height: 100%;
}

.TeksKontenKiri {
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    padding: 5%;
}

.TeksKontenKiri h1 {
    font-family: 'Lato';
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}

.TeksKontenKiri h1:hover {
    color: #b2b2b3;
}

.category {
    font-family: 'Lato';
    font-size: 12px;
    background-color: #8c00ff;
    padding: 8px 15px 6px;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.category:hover {
    background-color: #111111;
    color:#a6a6a6
}

.IsiKiri {
    width: 100%;
    height: 100%;
}

.IsiKiri img {
    width: 100%;
    height: 100%;
}

.KontenIsiKanan {
    width: 30%;
}

.Kanan {
    width: 40%;
    background-color: #222627;
    padding: 0px 10px;
}

.Kanan a {
    height: 100%;
}

.TeksKontenKanan {
    position: absolute;
    color: #FFFFFF;
    padding: 5%;
    bottom: 0;
}

.TeksKontenKanan h2 {
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 20px;
}

.TeksKontenKanan h2:hover {
    transition: 0.3s all;
    color: #b2b2b3;
}

.AtasKanan {
    width: 100%;
    height: 50%;
}

.BawahKanan {
    width: 100%;
    height: 50%;
}

.Kanan img {
    width: 100%;
    height: 100%;
}

.KontenTerakhirDanSidebar {
    display: flex;
}

.KontenTerakhir {
    width: 70%;
    background-color: #222627;
    padding-right: 20px;
}

.KontenTerakhir h1 {
    font-family: 'Lato';
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.KontenTerakhirCard {
    width: 100%;
    display: flex;
    margin: 20px 0px;
    border-left: 0px solid;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

.KontenTerakhirCard img {
    width: 100%;
    height: 100%;
}

.KontenTerakhirCard h2 {
    font-size: 18px;
    font-family: 'Lato';
    color: #FFFFFF;
    transition: 0.1s ease-in-out;
    font-weight: 500;
}

.KontenTerakhirCard h2:hover {
    color: #AAAAAA;
}

.GambarKontenTerakhir {
    width: 50%;
}

.TeksKontenTerakhir {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#Tanggal {
    font-family: 'Lato';
    color: #AAA;
    margin: 10px 0px;
    font-size: 12px;
}



/*-------------------------------------------------------------------
[4. Sidebar]
*------------------------------------------------------------------*/
.Sidebar {
    width: 30%;
    background-color: #222627;
}

.SidebarWAJIB {
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
}

.Sidebar h2 {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Avenir';
    margin: 10px 0px 5px 0px;
}

.Sidebar p {
    line-height: 2 !important;
    font-size: 14px;
}

.Sidebar a {
    font-family: 'Lato';
    color: #FFFFFF;
    text-decoration: none;
}

.Sidebar a:hover {
    color: #8c00ff;
}

.Sidebar form {
    display: flex;
}

.Sidebar input {
    width: 100%;
    outline: none;
    display: flex;
    justify-content: end;
    margin: 0px 0px 0px auto;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #AAA;
    border-right: none;
}

.Sidebar button {
    border: none;
    outline: none;
    background-color: rgb(74, 70, 151);
    padding: 10px 20px;
    color: #FFFFFF;
    border-left: none;
    cursor: pointer;
}

.Sidebar input:hover, .Sidebar input:active, .Sidebar input:focus {
    width: 100%;
    transition: 1s all;
    border: 1px solid rgb(74, 70, 151);
    border-right: none;
}

.Sidebar hr {
    height: 0.1px;
    background-color: #AAA;
    border: none;
}

.Sidebar span {
    margin: 0px auto 0px auto;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.garis {
    width: 100%;
    height: 1px;
    background-color: #4e5152;
    position: relative;
    z-index: 1;
}

.garis::after {
    content: '';
    background-color: #db4437;
    width: 20%;
    height: 3px;
    position: absolute;
    left: 0;
    margin-left: 0;
    bottom: 0;
}

.widget {
    border: 1px solid #393c3d;
    padding: 40px;
    border-radius: 3px;
    margin-top: 20px;
}

.widget img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.widget p {
    color: #FFFFFF;
    font-family: 'Avenir';
    text-align: center;
    margin: 25px 0px;
}

.widget .sosmed {
    display: flex;
    justify-content: space-evenly;
}

.widget .sosmed a {
    color: #a6a6a6;
}

.widget a:hover {
    color: #8c00ff;
}



/*-------------------------------------------------------------------
[5. Footer]
*------------------------------------------------------------------*/
.Footer {
    width: 80%;
    padding: 10px 3%;
    background-color: #191c1d;
    display: flex;
    margin: 20px auto;
}

.FooterKiri {
    width: 30%;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
}

.FooterKanan {
    width: 70%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

.Footer a {
    text-decoration: none;
    color: #a6a6a6;
    margin: 0px 10px;
    font-size: 15px;
    font-family: 'Poppins'; 
}

.Footer p {
    text-decoration: none;
    color: #a6a6a6;
    margin: 0px 10px;
    font-size: 15px;
    font-family: 'Poppins'; 
}



/*-------------------------------------------------------------------
[6. Penutup]
*------------------------------------------------------------------*/
.Penutup {
    width: 80%;
    padding: 10px 3%;
    background-color: #191c1d;
    display: flex;
    margin: 20px auto 0px auto;
    justify-content: center;
}

.Penutup a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px 10px;
    font-size: 14px;
    font-family: 'Poppins'; 
}

.Penutup p {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px 10px;
    font-size: 14px;
    font-family: 'Poppins'; 
}



/*-------------------------------------------------------------------
[7. Hamburger Navigasi]
*------------------------------------------------------------------*/
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: 0.5s ease;
}



/*-------------------------------------------------------------------
[8. Hamburger Navigasi -Animasinya-]
*------------------------------------------------------------------*/
.menu-toggle span:nth-child(2) {
    background-color: black;
    transform-origin: 0 0;
    width: 34px;
}

.menu-toggle span:nth-child(3) {
    background-color: White;
    width: 29px;
    margin-left: auto;
}

.menu-toggle span:nth-child(4) {
    background-color: black;
    transform-origin: 0 100%;
    width: 24px;
    margin-left: auto;
}

.menu-toggle input:checked ~ :nth-child(2) {
    background-color: #ff0000;
    transform: rotate(35deg) ;
    width: 35px;
}

.menu-toggle input:checked ~ :nth-child(3) {
    transform: scale(0);
    opacity: 0;
    width: 28px;
}

.menu-toggle input:checked ~ :nth-child(4) {
    background-color: #ff0000;
    transform: rotate(-35deg) translate(-1px, 3px);
    width: 35px;
}



/*-------------------------------------------------------------------
9. Waktu]
*------------------------------------------------------------------*/



/*-------------------------------------------------------------------
[10. Pagination]
*------------------------------------------------------------------*/
.pagination {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.pagination li {
    list-style: none;
}

.pagination a {
    background-color: #393c3d;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #db4437;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    padding: 0 15px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato';
    transition: 0.3s ease-in-out;
}

.pagination a:hover {
    color: #8c00ff;
    background-color: #FFFFFF;
}

.pagination .back span, .pagination .next span {
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.pagination .back:hover span, .pagination .next:hover span {
    color: #8c00ff;
}

.active {
    background-color: rgb(74, 70, 151) !important;
    color: #FFFFFF !important;
    font-weight: bolder;
}



/*-------------------------------------------------------------------
[11. Keyframes]
*------------------------------------------------------------------*/
@keyframes Headset {

    from {
        transform: translateY(-10px); 
    }

    to {
        transform: translateY(-20px);
    }

}

@keyframes Daun {

    from {
        transform: translateY(50px); 
    }

    to {
        transform: translateY(60px);
    }

}

@keyframes Baju {

    from {
        transform: translateY(50px); 
    }

    to {
        transform: translateY(60px);
    }

}

@keyframes LingkaranLaptop {

    from {
        fill: #FFFFFF; 
    }

    to {
        fill: #001F3F;
    }

}



/*-------------------------------------------------------------------
[12. Breadcrumb]
*------------------------------------------------------------------*/
ul.breadcrumb {
    display: flex;
    padding: 30px 11% 30px 11%;
    list-style: none;
    width: 100%;
    background-color: #222627;
    align-items: center;
  }

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
    font-family: 'Lato';
    color: #a6a6a6;
}

ul.breadcrumb li+li:before {
    padding: 0px 0px 0px 8px;
    color: #a6a6a6;
    content: "/\00a0";
}
  
ul.breadcrumb li a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

ul.breadcrumb li a:hover {
    color: #8c00ff;
}



/*-------------------------------------------------------------------
[13. SebelumFooter]
*------------------------------------------------------------------*/



/*-------------------------------------------------------------------
[14. Komentar]
*------------------------------------------------------------------*/



/*-------------------------------------------------------------------
[15. Tombol Scroll Atas]
*------------------------------------------------------------------*/
.TombolScrollAtas {
    width: 50px;
    padding: 10px;
    border: 0px solid #001F3F;
    background-color: #0f1112;
    position: fixed;
    color: #FFFFFF;
    margin: 92vh 0px 0px 95%;
    cursor: pointer;
    font-family: 'Lato';
    border-bottom: solid 4px #627295;
    opacity: 0.7;
}

.TombolScrollAtas:active {
    color: #F4F4F4;
    font-weight: bold;
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
    opacity: 1;
}

.TombolScrollAtas:hover {
    box-shadow: inset 0px 0px 0px 2px #AAA;
}



/*-------------------------------------------------------------------
[16. Searching]
*------------------------------------------------------------------*/
#hasil {
    font-family: 'Lato';
    font-weight: bold;
}

.Searching {
    width: 77%;
    display: flex;
    background-color: #222627;
    justify-content: flex-end;
    margin: auto;
}

.Searching form {
    display: flex;
    width: 65%;
}

.Searching input {
    width: 100%;
    outline: none;
    display: flex;
    justify-content: end;
    margin: 0px 0px 0px auto;
    padding: 15px;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #383838;
    color: #a6a6a6;
    font-size: 14px;
    font-style: italic;
}

.Searching button {
    border: none;
    outline: none;
    background-color: #222627;
    padding: 10px 20px;
    color: #FFFFFF;
    cursor: pointer;
}



/*-------------------------------------------------------------------
[17. Header]
*------------------------------------------------------------------*/
.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #222627;
}

.SocialMediaHeader {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.SocialMediaHeader a {
    display: flex;
    color: #a6a6a6;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.SocialMediaHeader a:hover {
    color: rgb(74, 70, 151);
}

.ticker {
    margin: auto;
    margin-left: 20px;
    width: 100%; 
    height: 100%;
    text-align: left;
    background: #222627; 
  }
  
.ticker ul {
    width: 100%;
    position: relative;
}
  
.ticker ul li {
    width: 100%;
    display: none;
}

.ticker ul li a {
    text-decoration: none;
    color: #a6a6a6;
    font-family: 'Lato';
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.ticker ul li a:hover {
    color: #db4437;
}

#BreakingNews {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #db4437;
    font-family: 'Lato';
    font-weight: bold;
}



/*-------------------------------------------------------------------
[18. Mode Malam]
*------------------------------------------------------------------*/
.ModeMalam {
    position: fixed;
    margin: 150vh 0px 0px -7%;
    outline: none;
}

.label {
    width: 50px; 
    background-color: #111111;
    display: flex;
    border-radius: 50px;
    height: 26px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
}

.icon-moon-o {
    color: #f1c40f;
}

.icon-sun {
    color: #f39c12;
}

.ball {
    background-color: #FFFFFF;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
}

.checkbox {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

body.light, body.light .container, body.light .breadcrumb {
    background-color: #F4F4F4;
    transition: background 0.2s linear;
}

body.light .Footer, body.light .Penutup, body.light .Akhir, body.light .KontenTerakhirCard, 
body.light .KontenIsiKanan, body.light .IsiKanan, body.light .KontenTerakhir, body.light .Sidebar, 
body.light .Kanan, body.light .KontenUtama {
    background-color: #FFFFFF;
}

body.light .KontenIsiKanan h2 {
    color: #111111;
}

body.light .Konten {
    background-color: #FFFFFF;
    box-shadow: 0 26px 33px rgba(0, 0, 0, 0.04);
}

body.light .KontenTerakhir h1, body.light .KontenTerakhirCard h2, body.light .Akhir p, body.light .Akhir a, body.light .widget p, body.light .Sidebar a {
    color: #444444 !important;
}

body.light nav ul li ul {
    background-color: rgb(74, 70, 151);
}

body.light .Akhir {
    border-top: 5px solid #AAAAAA;
}

body.light .TombolScrollAtas {
    background-color: rgb(74, 70, 151);
    border-bottom: solid 4px #AAAAAA;
}

body.light nav ul li ul a {
    color: #FFFFFF;
}

body.light .Kanan::-webkit-scrollbar-thumb {
    background: rgb(74, 70, 151);
    border-radius: 3px;
}

body.light .Kanan::-webkit-scrollbar-track {
    background: #FFFFFF;
}

body.light .pagination a:hover {
    background: #AAAAAA;   
}

body.light .widget {
    border: none;
    box-shadow: 0 26px 33px rgba(0, 0, 0, 0.04);
}