/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2020 By: Dewa Programming

Project		:	Blog
Dibuat	    :	05/05/2020
Instagram   :   @dewaprogramming -- @741_dewa -- @dewasmkn1jakarta
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Biasa
1. Navigasi
2. Landing Page
3. Konten
4. Sidebar 
5. Footer
6. Penutup
7. Hamburger Navigasi
8. Hamburger Navigasi -Animasinya-
9. Waktu PHP
10. Pagination 
11. Keyframes
12. Breadcrumb
13. Tombol Scroll Atas
14. Tutorial Lain
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
[NOTE]
COPY PASTE PUNYA ORANG LAIN TANPA IZIN ITU DOSA
IZIN TERLEBIH DAHULU. TERIMAKASIH :)
-------------------------------------------------------------------*/



@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    
    /*-------------------------------------------------------------------
    [0. Biasa]
    *------------------------------------------------------------------*/
    .container {
        padding: 0px 0px 70px 0px;
        width: 100%;
    }

    /*-------------------------------------------------------------------
    [1. Navigasi]
    *------------------------------------------------------------------*/


    /*-------------------------------------------------------------------
    [2. Landing Page]
    *------------------------------------------------------------------*/
    
    /*-------------------------------------------------------------------
    [3. Konten]
    *------------------------------------------------------------------*/   
    .Konten h1, .Konten p { 
        font-size: 15px;
    }
    
    /*-------------------------------------------------------------------
    [5. Footer]
    *------------------------------------------------------------------*/
    

    /*-------------------------------------------------------------------
    [6. Penutup]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [7. Hamburger Navigasi]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [8. Hamburger Navigasi -Animasinya-]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [9. Waktu PHP]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [10. Pagination]
    *------------------------------------------------------------------*/
    
    /*-------------------------------------------------------------------
    [11. Keyframes]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [12. Breadcrumb]
    *------------------------------------------------------------------*/
    
    /*-------------------------------------------------------------------
    [13.Tombol Scroll Atas]
    *------------------------------------------------------------------*/
    
    /*-------------------------------------------------------------------
    [14. Tutorial Lain]
    *------------------------------------------------------------------*/
    
}

