/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright   : Dewa Programming

Project		:	Portfolio
Dibuat	    :	30/08/2020
Instagram   :   @dewaprogramming -- @741_dewa -- @dewasmkn1jakarta
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Header
2. Navigasi
3. Home
4. About
5. Projects
6. Expertise
7. Contact
8. Footer
9. Scroll Top
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
[NOTE]
COPY PASTE PUNYA ORANG LAIN TANPA IZIN ITU DOSA
IZIN TERLEBIH DAHULU. TERIMAKASIH :)
-------------------------------------------------------------------*/



@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Header]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [2. Navigasi]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [3. Home]
    *------------------------------------------------------------------*/
    .Home {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nama_deskripsi h1 {
        font-size: 25px;
    }

    /*-------------------------------------------------------------------
    [4. About]
    *------------------------------------------------------------------*/
    .About .col-sm-6:nth-child(1) {
        width: 100% !important;
        flex: none;
        max-width: unset;
    }

    .About .col-sm-6:nth-child(2) {
        display: none;
    }

    /*-------------------------------------------------------------------
    [5. Projects]
    *------------------------------------------------------------------*/
    
    /*-------------------------------------------------------------------
    [6. Expertise]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [7. Contact]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [8. Footer]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [9. Scroll Top]
    *------------------------------------------------------------------*/

}